@font-face {
  font-family: 'Aquire';
  src: url('./assets/AquireLight-YzE0o.otf') format('Opentype');
}
nav a {
  font-size: 1.3rem;
}
a,
h1,
h3 {
  font-family: 'Aquire', sans-serif;
  color: black;
}

a:hover {
  color: rgb(125, 92, 179);
  cursor: pointer;
}

.mini-menu a {
  margin-top: 40px;
}

.socials a svg {
  width: 35px;
  height: 35px;
}

.project-type {
  font-family: 'Aquire';
}

.project-type:hover {
  color: rgb(125, 92, 179);
  cursor: pointer;
}
