* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 300;
}

nav a {
  font-size: 1.3rem;
}

a:hover {
  color: rgb(125, 92, 179);
  cursor: pointer;
}

.mini-menu a {
  font-size: 2.5rem;
}

.socials a svg {
  width: 35px;
  height: 35px;
}

.project-type:hover {
  color: rgb(125, 92, 179);
  cursor: pointer;
}

/* Grid style for Projects' section */

.projects {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(3, minmax(300px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
}

@media only screen and (max-width: 400px) {
  .projects {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.projects > a {
  border-radius: 10px;
}

/* Animations */
.animate-hide {
  opacity: 0;
  transition: ease-in-out 1s;
}

.animate-show {
  opacity: 1;
}
